.body {
  margin: 0 3vw 0 3vw;
}

.body-settings {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #424242;
}

.header-body-separator {
  background-color: #888888;
  height: 10px;
}
