.label-and-input label {
  display: block;
  margin-bottom: 1rem;
  color: #f65261;
}

.label-and-input input,
.label-and-input textarea {
  display: block;
  opacity: 0.8;
  mix-blend-mode: normal;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  background: rgba(50, 50, 50, 0.948044);
  padding: 1rem;
  width: 100%;
  overflow: inherit;
  color: white;
}

.input-row-container {
  display: flex;
  margin-bottom: 2rem;
}

.movie-title,
.movie-url,
.genre {
  flex: 2 1 0;
  margin-right: 2rem;
}

.release-date,
.rating,
.runtime {
  flex: 1 1 0;
}

.movie-description {
  height: 10rem;
}

.btn-block {
  display: flex;
  justify-content: flex-end;
  margin-top: 3.75rem;
}

.btn-block input[type='reset'] {
  margin-right: 1rem;
  border: 1.5px solid #f65261;
  border-radius: 4px;
  background-color: transparent;
  padding: 1rem 3rem 1rem 3rem;
  color: #f65261;
}

.btn-block input[type='submit'] {
  border: 1.5px solid #f65261;
  border-radius: 4px;
  background: #f65261;
  padding: 1rem 3rem 1rem 3rem;
  color: white;
}
