.selected-item,
.unselected-item {
  display: inline-block;
  cursor: pointer;
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  color: hsl(0, 0%, 100%);
  list-style-type: none;
  text-transform: uppercase;
}

.selected-item:hover,
.unselected-item:hover {
  background-color: hsl(0, 0%, 8%);
}

.selected-item {
  border-bottom: 1px solid red;
}
