.counterBlock {
  margin: 4vh 2vw 6vh;
  border: 5px solid #333;
  width: fit-content;
  background-color: whitesmoke;
}

.counterBlock h1 {
  line-height: normal;
  text-align: center;
  font-size: 2rem;
  margin: 0.5rem;
  display: block;
}

.incrementButton,
.decrementButton {
  margin: 0;
  height: 3rem;
  border-width: 0;
}

.incrementButton {
  background-color: coral;
}

.decrementButton {
  background-color: deepskyblue;
}
