.block {
  position: relative;
  cursor: pointer;
  padding: 1rem 0 1rem 0;
  width: fit-content;
}

.label {
  cursor: pointer;
  margin: 0px 31px 0px 0px;
  border-width: 0;
  border-color: transparent;
  background-color: transparent;
  padding: 0;
  color: hsla(0, 0%, 100%, 0.6);
}

.selected-option {
  cursor: pointer;
  margin: 0px 13px 0px 0px;
  border-width: 0;
  border-color: transparent;
  background-color: transparent;
  padding: 0;
  color: hsl(0, 0%, 100%);
}

.triangle {
  cursor: pointer;
  margin: 0;
  border-width: 0;
  border-color: transparent;
  background-color: transparent;
  padding: 0;
  color: hsl(355, 90%, 64%);
}

.menu {
  position: relative;
  width: 100%;
}
